/* таким образом каждая первая ячейка внутри строки будет иметь жирный текст */
.table.table-striped tbody tr td:first-child {
	font-weight: bold;
}

.table.table-striped tbody tr td:nth-of-type(2) {
	text-align: center;
}

.table.table-striped tbody tr:hover {
	background-color: orange;
	cursor: pointer;
}

.table.table-striped tbody tr:hover.editable {
	background-color: transparent !important;
	cursor: auto !important;
}

.btn-space {
	margin-left: 15px;
}